body
{
    background-image: url(istockphoto-1496006805-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    display: block;
}
.Yamada
{ 
    width: 300px;               
    background-image: url(istockphoto-1496006805-612x612.jpg);
    padding: 30px; 
    margin: auto;
    color: black;
    border-radius: 10px;
    position: relative;
    right: 250px;
    top: 2.7em;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);;
}
.Yuki
{ 
    width: 300px;               
    background-image: url(istockphoto-1496006805-612x612.jpg);
    padding: 30px; 
    margin: auto;
    color: black;
    border-radius: 10px;
    position: absolute;
    right: 300px;
    top: 3.4em; 
    box-shadow: 0 0 10px rgba(0,0,0,0.4);;
}
.inner
{
    background: linear-gradient(45deg,white, pink, red);
    text-align: center;
    width: 100%;  

}
.cover
{
    display: block;
    height: 100%;
    width: 100%;
    size: 10px;
}
 .Yamadapic
{
    border-radius: 50%; 
    width: 100px;
    height: 100px;
    margin-top: -50px;    
}
.text
{
    margin: 2px;
    display: inline-block;
    font-size: 11px;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.text h1 
{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.text h2
{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 6px;
    font-style: italic;    
}
.text p
{ 
    font-weight: bold;
    font-size: medium;
    font-style: italic;
    color: rgb(43, 38, 38);
    margin-block-start: 0em;
    margin-block-end: 0em;
}






